<!--<div #lottieAnim *ngIf="isPlaying" class="lottie-wrapper lottie-overlay" style="display:flex; justify-content:center;">
  <ng-lottie *ngIf="isPlaying"  (animationCreated)="handleAnimation($event)" [options]="options" style="width:250px; height:250px;"></ng-lottie>
</div>-->
<div class="container">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>🌤️ {{"lookup" | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="searchCity()" class="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{"enter_name" | translate}}</mat-label>
          <input matInput [formControl]="cityControl" required />
        </mat-form-field>
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="!cityControl.value">
          {{"search_weather" | translate}}
        </button>
      </form>
      <mat-chip-listbox aria-label="Popular cities">
        <mat-chip-option *ngFor="let city of popularCities" (click)="searchCity(city)">
          {{ city }}
        </mat-chip-option>
</mat-chip-listbox>
    </mat-card-content>
    <mat-card-footer>
      <small>{{"example" | translate}}: London, Paris, Tokyo</small>
    </mat-card-footer>
  </mat-card>
</div>
